constraints: QuickCheck ==2.6,
             abstract-deque ==0.3,
             abstract-par ==0.3.3,
             aeson ==0.7.0.6,
             array ==0.4.0.1,
             attoparsec ==0.11.3.4,
             base ==4.6.0.1,
             binary ==0.5.1.1,
             bytestring ==0.10.0.2,
             bytestring-lexing ==0.4.3.2,
             bzlib ==0.5.0.4,
             cereal ==0.4.0.1,
             containers ==0.5.0.0,
             convertible ==1.1.0.0,
             csv ==0.1.2,
             deepseq ==1.3.0.1,
             directory ==1.2.0.1,
             dlist ==0.7.1,
             erf ==2.0.0.0,
             filepath ==1.3.0.1,
             ghc-prim ==0.3.0.0,
             hashable ==1.2.1.0,
             hmatrix ==0.16.0.4,
             hmatrix-gsl-stats ==0.2,
             integer-gmp ==0.5.0.0,
             math-functions ==0.1.5.2,
             monad-par ==0.3.4.6,
             monad-par-extras ==0.3.3,
             mtl ==2.1.2,
             mwc-random ==0.13.1.2,
             old-locale ==1.0.0.5,
             old-time ==1.1.0.1,
             parallel ==3.2.0.3,
             parsec ==3.1.3,
             pretty ==1.1.1.0,
             primitive ==0.5.0.1,
             quant ==0.1,
             random ==1.0.1.1,
             rts ==1.0,
             scientific ==0.3.3.0,
             split ==0.2.2,
             statistics ==0.13.2.1,
             storable-complex ==0.2.1,
             syb ==0.4.0,
             template-haskell ==2.8.0.0,
             text ==0.11.3.1,
             time ==1.4.0.1,
             transformers ==0.3.0.0,
             unix ==2.6.0.1,
             unordered-containers ==0.2.3.0,
             vector ==0.10.0.1,
             vector-algorithms ==0.6.0.3,
             vector-binary-instances ==0.2.1.0,
             vector-th-unbox ==0.2.1.0,
             zlib ==0.5.4.1
